@model BeautyGoddess.Models.Service.ServiceModel
@{
    ViewBag.Title = Model.Title;
}
<h2>@Model.Title</h2>

<script type="text/javascript">
    $(document).ready(function () { $("#st_@Model.Id").fadeIn("slow"); });
</script>

<div id="st_1" style="text-align: justify; display: none;">
    <h4>
        <b>Veido kaukės ir jų nauda odai</b>
    </h4>
    <p>
        <img class="img-rounded img-thumbnail img-right-separation" src="~/Content/Images/Services/veido_odos_proceduros.jpg"/>
        Kaukė - nesudėtinga, puiki ir greita atgaiva ne tik veidui, bet ir visam organizmui. Ją uždėjus, atsikvėpsite nuo kasdienių darbų, pailsėsite, o veido oda per
        keliasdešimt minučių atgaus gaivumą, skaistumą, spindesį. Ši procedūra - ypač efektyvi. Kaukė ne tik maitina, ramina, stangrina, balina,
        bet ir valo, gerina kraujotaką.
    </p>
    <h4>
        <b>Veido, kaklo ir dekoltė masažas</b>
    </h4>
    <p>
        Reguliarus veido, kaklo, dekoltė srities odos masažas padeda odai ilgiau išlikti stangriai ir skaisčiai. Masažas atgaivina ir jauną,
        ir senstančią odą. Tai paprastas, laiko patikrintas odos priežiūros būdas, kurio niekada nebus per daug.
        Veido masažai gali sulėtinti veido odos senėjimą, kuris kartais net gali turėti įtakos veido raumenų atrofijai.
        Paprastomis, natūraliomis priemonėmis įmanoma sulėtinti pirmalaikius veido odos senėjimo procesus ir iš dalies atkurti odą, kuriai buvo pakenkta.
        Masažai naudingi ir jaunai odai, kuri dar geba pati atsinaujinti. Masažas pagerina kraujotaką, suteikia veidui skaistumo. Masažas matomai pagerina odos būklę.
    </p>
    <h4>
        <b>Mechaninis veido valymas</b>
    </h4>
    <p>
        Veido oda valoma mechaniniu būdu - pašalinami inkštirai (arba komedonai) bei pagerinama odos išvaizda.
        Jeigu norite išsaugoti gražią ir sveiką odą, rekomenduojama atlikti veido valymą. Po procedūros švarios poros
        atlieka savo funkciją, riebalinės liaukos neužsikemša, praėjus daugiau laiko uždegimo procesų nebelieka, todėl veidas ima natūraliai švytėti.
    </p>
    <h4>
        <b>Cheminis pilingas</b>
    </h4>
    <p>
        Viršutinio odos sluoksnio šalinimas chemine rūgštimi – tai kontroliuojamas paviršinių odos ląstelių pašalinimas, kuris stimuliuoja odos
        atsinaujinimą ir pagerina odos išvaizdą. Tai tikras atradimas paaugliams, kadangi glikolinės rūgšties preparatai – galinga priemonė
        jaunatviniams spuogams gydyti. Ši procedūra efektyviai valo odą bei siaurina jos poras. Naudojant cheminę rūgštį, galima
        išvengti kosmetinių defektų (randų, dėmių) atsiradimo arba pašalinti jau esamus.
    </p>
</div>
<div id="st_2" style="text-align: justify; display: none;">
    <p>
        <b>Mezoterapija</b> - tai unikali, o kartu ir paprasta procedūra, per kurią į probleminės kūno zonos odą sušvirkščiami įvairūs
        veikliųjų medžiagų mišiniai - “kokteilis”.
    </p>
    <p>
        <b>Mezoterapija atliekama:</b>
        <img class="img-rounded img-thumbnail img-right-separation" src="~/Content/Images/Services/mezoterapija.jpg"/>
    </p>
    <ul>
        <li>odos jauninimui (smulkių raukšlių lyginimas, odos stangrinimas)</li>
        <li>odos drėkinimui ir maitinimui</li>
        <li>veido ir kūno riebalinio sluoksnio koregavimui (celiulito, strijų požymių mažinimas)</li>
        <li>plaukų stiprinimui</li>
    </ul>
    <p>
        <b>Mezoterapija nerekomenduotina tokiais atvejais:</b>
    </p>
    <ul>
        <li>nėščioms moterims</li>
        <li>esant ūmioms odos ligoms, lėtinių odos ligų paūmėjimui</li>
        <li>esant kraujo krešėjimo sutrikimams</li>
        <li>sergantiems kai kuriais neurologiniais susirgimais (pvz: epilepsija)</li>
        <li>iš karto po operacijos</li>
        <li>esant vieno iš mezoterapijos komponentų netoleravimui</li>
    </ul>
    <p>
        Priklausomai nuo veikliųjų medžiagų "kokteilio" sudėties galima koreguoti odos pokyčius, atsirandančius dėl drėgmės netekimo,
        nuolatinio odos senėjimo, fotosenėjimo, laisvųjų radikalų poveikio, streso, rūkymo, nepilnavertės mitybos ir kitokių žalingų priežaščių.
    </p>
    <p>
        Sušvirkštos medžiagos veikia 5-7 dienas, todėl mezoterapijos procedūrą rekomenduojama atlikti kursais kas 7-10 dienų.
        Iš viso rekomenduojama atlikti 5-10 procedūrų, kursą vėliau galima kartoti 2-4 kartus per metus.
    </p>
    <p>
        <b>Galimas šalutinis poveikis:</b>
    </p>
    <ul>
        <li>Po procedūrų gali atsirasti mėlynių ar perštėjimo pojūtis, odos paraudimas, tačiau tai trunka nuo kelių valandų iki daugiausia kelių dienų.</li>
    </ul>
    <p>
        Mezoterapijos procedūras galima derinti su kitomis kosmetinėmis procedūromis, pvz.; cheminiu ar mechaniniu odos šveitimu,
        raukšlių užpildų injekcijomis, botulino injekcijomis.
    </p>
    <p>
        Po procedūros rekomenduojama bent 1 savaitę saugotis tiesioginių saulės spindulių . Keletą dienų vengti pirčių,
        saunos, baseino, nesportuoti. Apie 12 valandų nenaudoti dekoratyvinės kosmetikos.
    </p>
</div>
<div id="st_3" style="text-align: justify; display: none;">
    <p>
        <b>Biorevitalizacija (gilus odos drėkinimas)</b> - tai injekcinė procedūra, kurios metu į dermą
        (vidurinį odos sluoksnį) įvedama hialurono rūgštis, siekiant užpildyti šios rūgšties trūkumą odoje.
        Biorevitalizacija sugrąžina odos drėgmę, atkuria hialurono rūgšties balansą, atsiranda optimalios sąlygos
        ląstelėms atsinaujinti, stimuliuoja kolageno, elastino ir savos hialurono rūgšties sintezę.
    </p>
    <p>
        <img class="img-rounded img-thumbnail img-right-separation" src="~/Content/Images/Services/biorevitalizacija.jpg"/>
        <b>Biorevitalizacija atliekama sprendžiant šias problemas:</b>
    </p>
    <ul>
        <li>Odos fotosenėjimas</li>
        <li>Odos reljefo vientisumo pažeidimai (post akne randai)</li>
        <li>Jauna oda, senėjimo profilaktikai</li>
        <li>Sausa, dehidratuota oda</li>
        <li>Odos elastingumo ir stangrumo sumažėjimas</li>
        <li>Smulkios raukšlelės</li>
        <li>Veido ovalo gravitaciniai pokyčiai</li>
        <li>Pasiruošimas prieš filerių ir botulino toksino injekcijas</li>
        <li>Papilkėjusiai, pavargusiai odai</li>
        <li>Pogimdyminiu periodu</li>
        <li>Po agresyvių odos procedūrų</li>
        <li>Prieš saulės vonias ar siekiant atgaivinti odą po saulės, pvz., po atostogų</li>
    </ul>
    <p>
        <b>Kontraindikacijos procedūrai:</b>
    </p>
    <ul>
        <li>Individualus hialurono rūgšties netoleravimas</li>
        <li>Odos uždegiminiai procesai</li>
        <li>Herpes infekcija paūmėjimo metu</li>
        <li>Autoimuninės ligos</li>
        <li>Polinkis hipertrofiniams ir keloidiniams randams</li>
        <li>Nėštumas</li>
    </ul>
    <p>
        Po biorevitalizacijos procedūros rekomenduojama vengti aukštos aplinkos temperatūros (pirtys, lazerio procedūros).
        Pirmą savaitę po procedūros vartoti daugiau skysčių, makiažą galima naudoti po 12 valandų.
    </p>
    <p>
        Dažniausiai patariama atlikti 3-5 procedūrų ciklą norint optimaliausio rezultato.
    </p>
</div>
<div id="st_4" style="text-align: justify; display: none;">
    <p>
        <img class="img-rounded img-thumbnail img-left-separation" src="~/Content/Images/Services/hialurono_rugsties_uzpildai.jpg"/>
        Hialurono rūgštis yra viena iš pagrindinių žmogaus jungiamojo audinio komponentų, sugebanti sugerti vandenį kaip kempinė.
        Taip odoje išlaikoma drėgmė, odos audinių apimtis, oda išlieka stangri. Bėgant laikui odą veikia saulė, oro tarša,
        sumažėja odos gebėjimas gaminti hialuroninę rūgštį bei išlaikyti drėgmės lygį odoje, kolageno ir elastino skaidulos praranda
        savo struktūrą, todėl susiformuoja įvairios raukšlės.
    </p>
    <p>
        Procedūros metu užpildas yra suleidžiamas į odą, toje vietoje padidėja odos apimtis ir išsilygina ar sumažėja raukšlės.
        Prieš procedūrą injekcijos sritis patepama nuskausminamuoju kremu.
    </p>
    <p>
        Efektą galima stebėti iškart po procedūros. Efekto trukmė priklauso nuo individualių asmens savybių, pvz.,
        amžiaus, odos struktūros, gyvenimo būdo, ir trunka apie metus.
    </p>
    <p>
        <br/><br/>
    </p>
    <p>
        <b>Hialurono užpildai atliekami :</b>
    </p>
    <ul>
        <li>gilioms ir ne tokioms gilioms raukšlėms</li>
        <li>lūpoms putlinti</li>
        <li>veido kontūrų modeliavimui, kai atliekamos injekcijos į tokias zonas kaip skruostai, smakras ir kt.</li>
    </ul>
    <p>
        <b>Užpildų negalima atlikti:</b>
    </p>
    <ul>
        <li>jei esate ypač jautrus hialuroninei rūgščiai</li>
        <li>autoimuninės ligos (pvz., sisteminė raudonoji vilkligė ar cukrinis diabetas)</li>
        <li>angina</li>
        <li>sąnarių reumatas</li>
        <li>organizmo polinkis sudaryti keloidinius randus</li>
        <li>nėštumas, maitinimas krūtimi</li>
        <li>amžius &#60 18 metų</li>
    </ul>
    <p>
        Po procedūros 12 valandų negalima naudoti kosmetikos, reikėtų nesilankyti saunoje, pirtyje,
        mažiausiai 1-2 savaites nesideginti saulėje ar soliariume. Saugoti, kad į odos sritis, kur buvo atliktos injekcijos, nepatektų infekcija.
    </p>
</div>
<div id="st_5" style="text-align: justify; display: none;">
    <p>
        <img class="img-rounded img-thumbnail img-left-separation" src="~/Content/Images/Services/lupu_putlinimas.jpg"/>
        <b>Lūpų formos korekcija, lūpų putlinimas</b> - procedūra, kurios metu į lūpas sušvirkščiamas užpildas,
        sudarytas iš specialių sudedamųjų dalių. Atlikus injekciją, kurios esminė dalis - hialurono rūgštis,
        lūpos tampa pilnesnės,sultingesnės, galima paryškinti jų kontūrą, taip pat pagerinti formą ir pataisyti asimetriją.
    </p>
    <p>
        Procedūros metu leidžiant užpildą į giliuosius odos sluoksnius aplink lūpų kraštą, lūpų apimtys yra koreguojamos
        iki norimos formos ir pilnumo. Procedūra yra gerai toleruojama, neilga, prieš ją atliekant lūpų sritis dažniausiai vietiškai nuskausminama.
        Efektas pastebimas iš karto po injekcijos ir, priklausomai nuo preparato tipo, gali išlikti nuo 6 mėn. iki 1,5 metų.
    </p>
    <p>
        Po procedūros gali jaustis tinimas, išnyksiantis per kelias dienas. Gali susidaryti nedidelės hematomos ar mėlynės – jos visiškai išnyksta
        paprastai per 48val. po injekcijų. Galutinio rezultato sulauksite po kelių savaičių, nes per jas užpildas galutinai
        lokalizuojasi tam tikrose srityse ir lūpos įgyja galutinę formą.
    </p>
</div>
<div id="st_6" style="text-align: justify; display: none;">
    <p>
        <b>Raukšlių korekcija botulino toksino injekcijomis</b> – populiariausia, minimali kosmetologinė estetinė procedūra pasaulyje.
    </p>
    <p>
        Injekuotas <b>botulino toksinas A</b> blokuoja nervinio impulso perdavimą tarp nervo ir raumens. Tokiu būdu botulino
        toksinas laikinai atpalaiduoja veido raumenis, sušvelnindamas ar visai panaikindamas klostes ar raukšles,
        susidariusias dėl specifinių raumenų ar jų grupių kontrakcijos sąveikos.
    </p>
    <p>
        Paprastai poveikis pradeda matytis 2 - 7 dieną, tačiau pilnai efektas pasireiškia iki 14 dienos.
        Mimikos raumenys atsipalaiduoja, oda problematiškose vietose išsilygina. Efektas tęsiasi 4 - 6 - 8 mėnesius. Kartais - iki 1 metų.
    </p>
    <p>
        <img class="img-rounded img-thumbnail img-right-separation" src="~/Content/Images/Services/botulino_injekcijos.jpg"/>
        <b>Rekomendacijos po procedūros:</b>
    </p>
    <ul>
        <li>Galima jau po procedūros sugrįžti prie įprasto dienos režimo</li>
        <li>12 val. po procedūros nemasažuoti injekcijų vietose</li>
        <li>4 val. po procedūros būti vertikalioje pozicijoje</li>
        <li>Pirmąsias paras po injekcijų nesportuoti, nevartoti alkoholio</li>
        <li>7 - 10 dienų po injekcijų vengti persikaitinimo (karštų vonių, saunų, deginimosi saulėje ar soliariume)</li>
    </ul>
    <p>
        <b>Procedūra neatliekama tokiais atvejais:</b>
    </p>
    <ul>
        <li>nėštumas, maitinimas krūtimi</li>
        <li>esant neurologiniams raumenų silpnumo susirgimams</li>
        <li>alerginės reakcijos botulino toksino preparatams arba baltymams</li>
        <li>esant odos uždegiminiam procesui numatomų injekcijų srityje</li>
    </ul>
</div>
<div id="st_7" style="text-align: justify; display: none;">
    <p>
        <img class="img-rounded img-thumbnail img-left-separation" src="~/Content/Images/Services/adatine_dermaroler_terapija.jpg"/>
        Adatinė sistema (adatinis volelis, dar kitaip vadinamas dermaroleris) yra naudojama procedūrų metu vadinamam mikro subadymui arba intensyviam odos subadymui
        atlikti. Tai stulbinantis savo rezultatais, revoliucinis prietaisas, naudojamas kosmetologijoje ir estetinėje medicinoje.
        Ši procedūra atnaujina odos struktūrą, ji tampa glotnesnė, stangresnė ir elastingesnė.
    </p>
    <p>
        Stimuliuojant naujo kolageno augimą, odos mikro subadymas sukuria kanalėlius, per kuriuos ant odos išoriškai naudojamos medžiagos gali būti žymiai
        lengviau absorbuojamos į odą. Be to, tankus odos subadymas ribotam laikui suardo odos apsauginio barjero funkciją.
        Tai reiškia, kad išoriškai naudojamos medžiagos faktiškai pasiekia reikiamas sritis. Naudojant adatinę odos sistemą,
        šiuo būdu galima padidinti išorinio naudojimo procedūros efektyvumą keletu šimtu procentų.
    </p>
    <p>
        <b>Procetūra naudojama:</b>
        <br/>
        Kas sieja raukšles, randus, strijas ir nelygią odą. Derma Roller naudojimas stimuliuoja kolageno gamybą odoje, tai leidžia pasiekti
        stulbinančių rezultatų naikinant raukšles ir randus, strijas, pigmentines dėmes.
    </p>
</div>
<div id="st_8" style="text-align: justify; display: none;">
    <h3>Palaikanti odos turgorą ir elastingumą procedūra</h3>
    <h4>Darsonvalis</h4>
    <p>
        Šios procedūros tikslas pagerinti odos turgorą ir elastingumą. Normalizuoti riebalinių liaukų funkciją, esant riebiai seborėjai, ją sausinti.
        Pabrinkimo rezorbcija, oksigenacija, dezinfekcija, skatinti kraujotaką, raminti odą.
    </p>
    <p>
        <img class="img-rounded img-thumbnail img-right-separation" src="~/Content/Images/Services/aparaturines_veido_proceduros.jpg"/>
        <b>Procedūra riebai, mišriai, spuoguotai, problematinei odai:</b>
    </p>
    <ul>
        <li>Demakiažas</li>
        <li>Odos diagnostika</li>
        <li>Šveitimas</li>
        <li>Darsonvalizacija</li>
        <li>Veido nuplovimas</li>
        <li>Tonizavimas</li>
        <li>Kremas pagal odos tipą</li>
    </ul>
    <p>
        <b>Profilaktinė procedūra probleminei veido odai + kaukė:</b>
    </p>
    <ul>
        <li>Demakiažas</li>
        <li>Odos diagnostika</li>
        <li>Šveitimas</li>
        <li>Darsonvalizacija</li>
        <li>Veido nuplovimas</li>
        <li>Tonizavimas</li>
        <li>Kaukė pagal kliento odos tipą</li>
        <li>Kremas pagal odos tipą</li>
    </ul>
    <h3>Jauninanti, liftingo efekto procedūra</h3>
    <h4>Jonoforezė (aktyviųjų medžiagų įvedimas)</h4>
    <p>
        Šios procedūros tikslas biologiškai aktyvių medžiagų įvedimas į odą, naudojant galvaninę srovę. Jonoforezės aparato pagalba
        skatinti audinių regeneraciją, suaktyvinti kraujotaką ir medžiagų apykaitą. Taip pat atjauninti ir atkurti odą, ją sudrėkinti,
        tonizuoti, mažinti pigmentaciją, išlyginti raukšleles ir ją patempti. Vystančios odos ląstelės gauna trūkstamų medžiagų bei drėgmės.
    </p>
    <p>
        <b>Jonoforezė + kaukė:</b>
    </p>
    <ul>
        <li>Demakiažas</li>
        <li>Odos diagnostika</li>
        <li>Šveitimas</li>
        <li>Jonoforezė įvedant koncentratą</li>
        <li>Kaukė pagal kliento odos tipą</li>
        <li>Veido nuplovimas</li>
        <li>Tonizavimas</li>
        <li>Kremas pagal odos tipą</li>
    </ul>
    <h3>Švelniai, matinei odos būklei palaikyti</h3>
    <h4>Dezinkrustacija</h4>
    <p>
        Šios procedūros metu iš porų pašalinamos odos ląstelėms nereikalingos medžiagos (apykaitos produktai).
        Pagerina limfos tekėjimą ir ląstelių hidrataciją, padidina ląstelių membranų pralaidumą, išmuilina riebalus, išlygina odos reljefą.
        Oda tampa matinė, bei šviesi.
    </p>
    <p>
        <b>Dezinkrustacija + kaukė:</b>
    </p>
    <ul>
        <li>Demakiažas</li>
        <li>Odos diagnostika</li>
        <li>Šveitimas</li>
        <li>Dezinkrustacija</li>
        <li>Kaukė pagal kliento odos tipą</li>
        <li>Veido nuplovimas</li>
        <li>Tonizavimas</li>
        <li>Kremas pagal odos tipą</li>
    </ul>
    <h3>Odos reljefą lyginanti, drėkinanti,maitinanti procedūra</h3>
    <h4>Sonoforezė (ultragarso aparatu)</h4>
    <p>
        Ši procedūra skiriama dehidratuotai, sausai, jautriai odai. Naudojant įvairius koncentratus ir Sonoforezę išlyginamas odos reljefas,
        pagerinama kraujotaka, pagerinama ląstelių hidratacija, sumažinamas raukšlių skaičius ir sustiprinamas jungiamasis audinys.
    </p>
    <p>
        <b>Sonoforezė + odos tipui tinkamas koncentratas:</b>
    </p>
    <ul>
        <li>Demakiažas</li>
        <li>Odos diagnostika</li>
        <li>Šveitimas</li>
        <li>Sonoforezė įvedant koncentratą</li>
        <li>Kaukė pagal kliento odos tipą</li>
        <li>Veido nuplovimas</li>
        <li>Tonizavimas</li>
        <li>Kremas pagal odos tipą</li>
    </ul>
</div>
<div id="st_9" style="text-align: justify; display: none;">
    <p>
        <b>Cheminis pilingas</b> - tai kontroliuojamas, epidermio negyvų odos ląstelių atsluoksniavimas, skatinantis naujos sveikos odos regeneraciją.
        Tai itin veiksmingas paviršinio odos sluoksnio šveitimas naudojant specialias rūgštis.
        Procedūros su rūgštiniais šveitikliais skatina odos regeneraciją (geresnės kokybės elastino ir kolageno formavimąsi ir epidermio tankėjimą).
    </p>
    <p>
        <img class="img-rounded img-thumbnail img-right-separation" src="~/Content/Images/Services/cheminis_pilingas.jpg"/>
        <b>Cheminis pilingas efektyvus norint:</b>
    </p>
    <ul>
        <li>atsikratyti nepageidaujamų raukšlių</li>
        <li>bendram odos jauninimui</li>
        <li>odos drėkinimui</li>
        <li>porų mažinimui</li>
        <li>šalinti bėrimus (acne )</li>
        <li>odos riebalavimuisi slopinti</li>
        <li>gerinti odos reljefą,struktūrinį lygumą</li>
        <li>naikinti paraudimus, uždegimus</li>
        <li>reguliuoti odos pigmentaciją</li>
        <li>mažinti, slėpti bei stiprinti odos kapiliarini tinklą</li>
        <li>koreguoti randelius po acne ar vėjaraupių</li>
    </ul>
    <p>
        Procedūrą galima pakartotinai atlikti po 1-2 savaičių, rekomenduojamas 4-10 procedūrų kursas,
        kai norim kovoti su odos problemomis. Atliekant vienkartinai naudojama kaip palaikomoji grožio procedūra.
        Cheminio pilingo kursą rekomenduojama atlikti 2 kartus per metus, priklausomai nuo pilingo rūgšties koncentracijos.
    </p>
</div>
<div id="st_10" style="text-align: justify; display: none;">
    <p>
        <ul>
            <li>Priaugintos blakstienos išsilaiko apie mėnesį, reguliariai darant papildymus jų iš vis nebereikia nusiimti!</li>
            <li>Blakstienų nebereikia dažyti, kas rytą prabudusios atrodysite puikiai</li>
            <li>Nebereikia kasdien tiek daug laiko praleisti prie veidrožio taisantis makiažą</li>
            <li>
                Priaugintos blakstenos nejuntamos, jos beveik nesiskiria nuo natūralių blakstienų, yra atsparios vandeniui, saulei,
                su jomis galima eiti į soliariumą, baseiną
            </li>
            <li>Pamiršite ką reiškia nubėgęs tušas</li>
            <li>
                Procedūra pritaikoma kiekvienos individualiems poreikiams- nuo natūraliai atrodančio aplinkiniams nepastebimo akių pagražinimo iki stulbinančiai ilgų,
                riestų ir tankių blakstienų
            </li>
        </ul>
    </p>
    <p>
        <img class="img-rounded img-thumbnail img-right-separation" src="~/Content/Images/Services/blakstienu_priauginimas.jpg"/>
        <b>Reikalinga priežiūra</b>
    </p>
    <p>
        Blakstienos yra atsparios vandeniui, su jomis galima drąsiai maudytis, lankyti baseiną, soliariumą. Klijai kurie naudojami priauginimui nėra atsparūs riebalams,
        dėl to priaugintas blakstienas reikia saugoti nuo kosmetikos gaminių, kuriuose gali būti aliejų. Šiuo būdu priaugintoms blakstienoms taip pat kenkia
        didelis karštis, dėl to nerekomenduojama eiti į sauną ar pirtį visą laiką kol esate prisiauginusi blakstienas.
    </p>
    <p>
        <b>Ilgalaikis efektas</b>
    </p>
    <p>
        Priaugintos blakstienos išsilaiko apie mėnesį, po jo reikalinga daryti papildymo procedūrą, kurios metu priklijuojamos
        naujos blakstienos vietoje iškritusių. Laiko tarpas tarp papildymų priklauso nuo priaugintų blakstienų priežiūros bei nuo
        natūralios blakstienos gyvenimo trukmės.
        <br/>
        Atauganti nauja blakstiena iškritusios vietoje yra visiškai sveika ir nepažeista nei priauginimo procedūros, nei klijų.
    </p>
    <p>
        Rekomenduojama korekciją daryti ne anksčiau 3 savaičių ir ne vėliau kaip po 5 savaičių.
    </p>
    <p>
        <b>Nuėmimas</b>
    </p>
    <p>
        Jei visgi nusprendėte blakstienas nusiimti, labai rekomenduojama atvykti nuėmimo procedūrai pas specialistę ir neeksperimentuoti bandant pačioms.
        Profesionalus nuėmimas trunka apie pusvalandį, jo metu naudojama speciali priemonė, kuri ištirpdo klijus ir nepažeidžia
        natūralios blakstienos. Procedūra nesukelia jokių nemalonių pojūčių - jos metu gulite užsimerkusi panašiai kaip ir priauginimo metu.
    </p>
    <p>
        Privalumai:
        <ul>
            <li>
                Estetinis privalumas. Nereikia laukti kol natūraliai iškris visos dirbtinės blakstienos. Po nuėmimo akys atrodys tvarkingai,
                nevaikščiosit su stipriai praretėjusiomis ir neestetiškai atrodančiomis blakstienomis.
            </li>
            <li>
                Nekenksminga. Atlikus profesionalų nuėmimą natūralios blakstienos nenukentės, kitaip nei bandant nusiimti blakstienas pačiai. Aliejai ir
                kremai tik pagreitina priaugintų blakstienų nukritimą, norint jas nusiimti šių priemonių neužteks. Neišvengiamai
                dalį blakstienų išpešit ir teks daug ilgiau laukti kol natūralios blakstienos pilnai ataugs.
            </li>
        </ul>
    </p>
    <p>
        <b>Šalutinės reakcijos</b>
    </p>
    <p>
        Kokybiško priauginimo metu neturi būti juntami jokie nemalonūs pojūčiau kaip akių graužimas ar perštėjimas.
        Akių sudirgimas ir paraudimas po procedūros - tai itin retai pasitaikantys atvejai galimi jei per gretai atsimerkiama po procedūros,
        kada klijai dar nespėję pilnai išdžiūti arba akys itin jautrios ir pavargusios. Naudojant aukštos kokybės klijus akių dirglumas sumažinamas
        iki minimumo, o specialios apsaugos apatinių blakstienų uždengimui ramina akis ir odą, o ne ją dirgina.
        <br/>
        Pasireiškus bet kokioms alerginėms reakcijoms reikėtų nusiimti blakstienas pas specialistą, pasikonsultavus
        su vaistininku lašinti akims skirtus lašiukus. Alerginė reakcija praeina po kelių dienų, yra retas atvejis, tačiau galimas jautresnėms akims.
    </p>
    <p>
        <b>Ar kenkia blakstienų priauginimas?</b>
    </p>
    <p>
        Poveikis natūraliom blakstienom juntamas ne visada, tai priklauso nuo klientės natūralių blakstienų būklės bei kokios dirbtinės blakstienos priaugintos.
        Natūralu, kad silpnos, trumpos blakstienos sunkiai išlaikys priaugintas ilgas pastorintas blakstienas. Siekiant nepakenkti natūralioms, derėtų atsižvelgti
        į jų tipą bei ilgį ir priauginti kuo panašesnes į natūralias blakstienas. Ant stiprių, storų natūralių blakstienų galima klijuoti
        ir labai ilgas išraiškingas dirbtines blakstienas, joms poveikio nebus arba jis bus labai nežymus.
        <br/>
        Papildoma dirbtinės blakstienos apkrova šiek tiek pakenkia tai blakstienai, prie kurios klijuojama. Bet jai iškritus atauga nauja sveika blakstiena.
        Dėl priauginimo pati blakstiena nesusilpnėja, tiesiog dirbtinės blakstienos svoris lemia, kad natūralioji iškrenta keliom dienom anksčiau nei kristų natūraliai.
        Po kelių mėnesių matyti, kad didesnę apimties dalį sudaro mažos, dar pilnai neužaugusios blakstienos (jos auga iškritusių vietoje).
        Kadangi ant tokių blakstienų priauginti negalime, jos paliekamos laisvai augti ir priauginamos kitos, didesnės blakstienos.
        Kito papildymo metu bus galima pridėti daugiau blakstienų, nes mažosios jau bus suaugusios.
        Blakstienoms pilnai ataugti reikia 7-8 savaičių. Netgi nedarant pertraukos ir nenuimant priaugintų blakstienų, natūraliosios atauga.
    </p>
    <p>
        <b>Kaip atliekama procedūra</b>
    </p>
    <p>
        Procedūra trunka apie pusantros valandos, tuo metu klientė guli užmerktomis akimis. Tokios procedūros metu nejaučiami jokie nemalonūs pojūčiai.
        Apatinės blakstienos specialia silikonine pagalvėle atskiriamos nuo viršutinių. Tuomet naudojant specialius klijus prie kiekvienos natūralios
        blakstienos klijuojama po vieną dirbtinę blakstieną. Šilkinė blakstiena priauginama prie natūralios blakstienos kuo arčiau voko,
        taip padarant priauginimą nepastebimą žiūrint plika akimi.
        <br/>
        Po procedūros blakstienos atrodo itin natūraliai, kokybiškai priauginus kiekvienas plaukelis lieka atskiras,
        nesulipintas su kitomis blakstienomis.
        <br/>
        Tik profesionaliai priauginant blakstienas pasiekiamas maksimalus rezultatas- ant akies sutalpinama apie 100-150 blakstienų,
        procedūra atliekama steriliai, blakstienų neliečiant rankomis, nesulipinant blakstienų vienos su kita, jos laikosi ilgiau ir papildymai daromi rečiau.
    </p>
    <p>
        <b>Nekokybiško priauginimo klaidos</b>
    </p>
    <p>
        Blakstienos sulipusios viena su kita, dirbtinė blakstiena priklijuota prie kelių natūralių blakstienų. Dažniausiai daroma
        klaida - mažos tik augančios blakstienos tinkamai neatskirtos dėl to prisiklijavusios prie didžiosios priaugintos blakstienos.
        Kokybiško priauginimo metu blakstienos negali būti klijuojamos prie mažų dar pilnai neišaugusių blakstienų.
        <br/>
        Dirbtinė blakstiena blogai priklijuota. Po tokio priauginimo blakstienos greitai iškrenta, kreivai auga ir kabinasi viena už kitos ar drabužių.
        <br/>
        Blogai parinktas blakstienų ilgis. Priauginamos per ilgos blakstienos. Galima priauginti ne daugiau nei dvigubai ilgesnes blakstienas, kitaip jos neatlaikys
        svorio ir augs kreivai, velsis.
        <br/>
        Per visą akį klijuojamos vienodo ilgio blakstienos. tokiu atveju rezultatas atrodo nenatūraliai ir netvarkingai.
        <br/>
        Naudojamos nekokybiškos priemonės. Nekokybiškos blakstienos greičiau lūžta, nėra tokios lanksčios.
        <br/>
        Priauginamas nepakankamas skaičius blakstienų. Kuo mažiau pridedama šilkinių blakstienų, tuo greičiau reikalinga korekcija,
        kadangi iškritus vos kelioms blakstienoms atsiranda pastebimi tarpeliai.
    </p>
</div>
<div id="st_11" style="text-align: justify; display: none;">
    <p>
        <img class="img-rounded img-thumbnail img-right-separation" src="~/Content/Images/Services/antakiu_dazymas.jpg"/>
        <b>Antakių dažymas ir koregavimas</b> yra svarbus žingsnis siekiant, kad jūsų žvilgsnis taptų nepamirštamas. Paryškinti ir tvarkingi antakiai veidui
        suteikia rafinuotumo, tvarkingumo ir vizualiai išryškina akis. Visos akių srities išvaizda labai priklauso nuo antakių išlenkimo, ilgio, storio, spalvos.
        Nėra universalios antakių formos, kuri tiktų visoms moterims, todėl rūpestingai parinksime antakių formą, kuri tiks būtent Jums. Cheminis antakių dažymas
        atliekamas naudojant aukščiausios kokybės cheminius dažus, kurie natūraliems antakių plaukeliams suteikia pageidaujamo atspalvio.
        Antakių spalva derinama su Jūsų galvos plaukų, veido odos atspalviais.
    </p>
</div>
<div id="st_12" style="text-align: justify; display: none;">
    <p>
        <b>Aplinka</b>
    </p>
    <p>
        Depiliacijos yra atliekamos privačioje uždaroje patalpoje.
    </p>
    <p>
        <img class="img-rounded img-thumbnail img-right-separation" src="~/Content/Images/Services/estetinis_plauku_salinimas_vasku.jpg"/>
        <b>Pasiruošimas</b>
    </p>
    <p>
        Jūs būsite paprašyti apnuoginti tas kūno vietas, kur bus depiliuojama oda.
        Reikės atsigulti ant jau dezinfekuotos kušetės, kuri užtiesiama vienkartine popierine paklode.
    </p>
    <p>
        <b>Plaukelių paruošimas procedūrai</b>
    </p>
    <p>
        Jei plaukas yra minkštas ir plonas, užtenka 5-7 mm ilgio, jei plaukas storas ir tvirtas, tai gali prireikti,
        kad jis būtų bent 1 cm ilgio. Prie trumpesnio plauko vaškas gerai neprilimpa, todėl nukentės depiliacijos kokybė.
    </p>
    <p>
        <b>Depiliacijos procesas ir priemonės</b>
    </p>
    <p>
        Depiliacijos medine mentele bus pavilgoma į konteineryje pašildytą vašką ir užtepama ant plaukuotos odos arba pašildytu vašku kasetėje perbraukiama
        per depiliuojamą vietą. Tada nuo vaško rūšies jis nuo odos su plaukais nuplėšiamas popierinės juostelės pagalba arba plėšiamas sustingęs
        vaškas be jokių juostelių. Dažniausiai vaškas plėšiamas prieš plauko augimo kryptį.
    </p>
    <p>
        <b>Pabaigus depiliaciją</b>
    </p>
    <p>
        Kai depiliacija baigta, pincetu bus ištraukti styrantys užsilikę plaukeliai, gali būti patrumpinama palikta juostelė,
        jei daromas braziliškas bikini su juostele.
    </p>
    <p>
        <b>Visos procedūros pabaigoje</b>
    </p>
    <p>
        Po visos procedūros ant depiliuotų vietų yra užtepamas specialus kremas su raminamu, dezinfekuojančiu efektu.
    </p>
    <p>
        <i>
            <b>
                Dažniausiai ši procedūra atliekama kas 3-6 savaites. Kuo daugiau procedūra kartojama, tuo skausmo pojūtis mažėja,
                tad nemaloniausias ir skaudžiausias pojūtis būna pirmos procedūros metu.
            </b>
        </i>
    </p>
</div>
<hr/>
<p>
    <div>
        <a href="@Url.Action("Services", "Service")" class="btn btn-primary pull-left" role="button">Atgal į paslaugas</a>
    </div>
    <div style="padding-left: 160px;">
        <a href="@Url.Action("Prices", "Price")" class="btn btn-primary pull-left" role="button">Atgal į kainas</a>
    </div>
</p>
<br /><br /><br /><br />